[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-vinegar"]
	path = pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/plugins/start/vim-toml"]
	path = pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/plugins/start/vim-yaml"]
	path = pack/plugins/start/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "pack/plugins/start/vim-graphql"]
	path = pack/plugins/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/vim-solarized8"]
	path = pack/plugins/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/plugins/start/fireplace"]
	path = pack/plugins/start/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "pack/plugins/start/vim-cljfmt"]
	path = pack/plugins/start/vim-cljfmt
	url = https://github.com/venantius/vim-cljfmt.git
[submodule "pack/plugins/start/poet-v"]
	path = pack/plugins/start/poet-v
	url = https://github.com/petobens/poet-v.git
	ignore = dirty
[submodule "jedi-vim:envs"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/blueyed/jedi-vim.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
